:root {
	font-family: "Montserrat";
	line-height: 1.6;
	font-size: $fw-normal;
	font-weight: $fw-normal;
}

* {
	font: inherit;
}

img {
	display: block;
	max-width: 100%;
}

p,
h1,
h2,
h3 {
	margin: 0;
}

button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

// util

.sr-only {
	// source: tailwindcss
	// https://tailwindcss.com/docs/screen-readers#screen-reader-only-elements
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

// element

.btn {
	color: white;
	background-color: black;
	text-decoration: none;

	padding: 0.5rem 1rem;

	transition: opacity 100ms ease-out;

	&:hover,
	&:focus-visible {
		opacity: 0.8;
	}
}

.input {
	padding: 0.5rem 1rem;
	border: 1px solid $clr-line;
	border-radius: 0;

	transition: border-color 100ms ease-out;

	&:hover,
	&:focus-visible {
		border-color: $clr-line-hard;
		outline: none;
	}
}
