$page-width: 960px; // TODO: fine-tune

$clr-light-gray: #eaeaea;
$clr-faint: #555;

$fw-normal: 400;
$fw-bold: 600;

@mixin desktop-only($width: $page-width) {
	@media (width >= $width) {
		@content;
	}
}

@mixin mobile-only($width: $page-width) {
	@media (width < $width) {
		@content;
	}
}
