$page-width: 60rem;
$page-width-sm: 50rem;
$page-width-xs: 32rem;

$clr-light-gray: #eaeaea;
$clr-faint: #555;

$fz-normal: 1rem;
$fz-title: 1.5rem;

$fw-normal: 400;
$fw-bold: 600;

@mixin desktop-only($width: $page-width) {
	@media (width >= $width) {
		@content;
	}
}

@mixin mobile-only($width: $page-width) {
	@media (width < $width) {
		@content;
	}
}
